body{ 
 	text-align: center; 
 	font-family: helvetica; 
 	background-image: url(imagens/artist8.jpg);
 	background-size: cover;
}
h1{
 	font-size: 70px;
 	color: white;
 	padding-top: 275px; 
 	text-shadow: 2px 2px 2px gray;
 	margin-bottom: 15px;
}
h2{
	color: white;
}
p{
	font-size: 25px;
	color: white;
}
.botao {
	text-decoration: none;
	background-color: rgba(240,128,128,0.6);
	color: white;
	font-size: 20px;
	padding: 10px 15px 10px 15px;
	border-radius: 4px;
}
.botao:hover {
	background: rgb(240,128,128);
}
.lista {
	list-style: none;
	padding-left: 0;
	margin-top: 120px;
}
.lista li {
	display: inline;
}
.lista a {
	color: white;
	font-size: 25px;
	letter-spacing: 10px;


}